$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;
$primary-text: #f4f4f4;

$secondary: #9e9e9e;
$secondary-light: #cfcfcf;
$secondary-dark: #707070;
$secondary-text: #0c0c0c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

a {
    color: $primary-text;
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
}

#root > main,
#root > header,
#root > footer {
    padding: 1rem;
}

#root > main {
    flex-grow: 1;
}

#root > header {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    nav {
        a {
            margin-left: 1rem;
        }
    }
}

#root > footer {
    nav {
        a {
            margin-left: 1rem;
            color: whitesmoke;
        }
    }
}

.header {
    &__title {
        color: $primary-text;
    }
}

.footer {
    background-color: $primary-dark;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text;
}

.material-icons {
    margin-left: 1rem;
}

@mixin icon($color) {
    color: $color;
    cursor: pointer;
}

.icon--white {
    @include icon($primary-text);
}

.icon--black {
    @include icon($secondary-text);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartWidget {
    &__number {
        display: inline-block;
        padding: 4px 6px; /* pixel unit */
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        background-color: $secondary-light;
        color: $secondary-text;
    }
}

.itemListCointainer {
    width: 95%;
    margin: 10px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// Item Card

.itemCard {
    display: flex;
    flex-flow: column;
    max-width: 250px;
}
