$primary: #757575;
$primary-light: #a4a4a4;
$primary-dark: #494949;
$primary-text: #f4f4f4;
$secondary-text: #0c0c0c;
$accenture: #ff2036;
$accenture-light: rgb(255, 79, 79);
$background: whitesmoke; // rgb(138, 138, 138);

$mediaQuery-phone: 688px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
    height: 100vh;
    color: $secondary-text;
    background-color: $background;
}
a {
    text-decoration: none;
    color: $secondary-text;
}

#root {
    display: flex;
    flex-direction: column;
}

#root > main,
#root > header,
#root > footer {
    padding: 1rem;
}

#root > main {
    flex-grow: 1;
}

#root > header {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#root > footer {
    nav {
        @media screen and (max-width: 768px) {
            display: none;
        }
        a {
            margin-left: 1rem;
            color: $secondary-text;
            align-items: center;
            font-size: 1.2rem;
        }
    }
}

.header {
    &__title {
        color: $primary-text;
    }
}

.title {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    color: $secondary-text;
}

.main {
    &__title {
        margin: 10px auto;
        width: 100%;
        text-align: center;
        color: $secondary-text;
    }

    &__games {
        display: flex;
    }
}

.filters {
    width: 150px;
    color: $secondary-text;
    padding: 5px;
    &__list {
        li {
            list-style: none;
            cursor: pointer;
            padding: 5px;
            margin: 2px;
            &:hover {
                color: $primary-text;
                background-color: $accenture;
            }
        }
    }

    @media screen and (max-width: $mediaQuery-phone) {
        display: none;
    }
}

.footer {
    background-color: $primary-dark;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary-text;
}

.material-icons {
    margin: auto;
    width: 100%;
    height: 100%;
}

@mixin icon($color) {
    color: $color;
    cursor: pointer;
}

.icon--white {
    @include icon($primary-text);
}

.icon--black {
    @include icon($secondary-text);
}

.nav {
    display: flex;
    gap: 1rem;

    &__checkbox {
        display: none;
        z-index: 9999;

        &_open,
        &_close {
            display: none;
        }

        @media screen and (max-width: 768px) {
            display: none;

            &_open,
            &_close {
                display: inline;
                width: 40px;
                height: 40px;
                opacity: 100%;
                margin: auto;
                background-color: #000000aa;
                z-index: 9999999;

                span {
                    text-align: center;
                    line-height: 40px;
                    font-size: 2.5rem;
                    color: $primary-text;
                }
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;

        border: transparent solid 2px;
        &__link {
            border: transparent solid 2px;

            &:hover {
                border-bottom: $secondary-text solid 2px;
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
            z-index: 5;

            .nav__checkbox:checked ~ & {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 100%;

                background-color: black;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                gap: 0.6rem;
                a {
                    color: $primary-text;
                    font-size: 3rem;
                }

                .active {
                    border-bottom: $primary-text solid 2px;
                }

                ~ body,
                ~ html {
                    overflow: hidden;
                }
            }
        }

        & > a {
            margin: 0 0.4rem;
            text-align: center;
        }

        .active {
            border-bottom: $secondary-text solid 2px;
        }
    }
}

.cartWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    &__number {
        padding: 0px 9px;
    }

    &:hover > .material-icons {
        color: $primary-dark;
    }

    @media screen and (max-width: 768px) {
        color: $primary-text;
        & .icon--black {
            color: $primary-text;
        }
    }
}

.itemListCointainer {
    width: 100%;
    height: 100%;
    margin: 5px auto;
    padding: 5px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 8px;
    align-content: flex-start;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

// Item Card

.itemCard {
    display: flex;
    flex-flow: column;
    flex-grow: initial;

    cursor: pointer;

    max-width: 300px;
    max-height: 300px;
    margin: auto;

    // border-radius: 5px;
    overflow: hidden;

    background-color: $primary-light;
    color: $primary-text;

    @media screen and (max-width: 768px) {
        max-width: 150px;
        max-height: 450px;
        margin: auto;
    }

    &__header,
    &__main,
    &__footer {
        padding: 5px;
        font-size: 1.1rem;
    }

    &__main {
        display: flex;
        flex-flow: column;
        gap: 5px;

        & p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            line-clamp: 7;
            -webkit-box-orient: vertical;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__footer {
        margin-top: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1px;
        width: 100%;
        color: $primary-text;
        background-color: $primary-dark;

        &__price {
            text-align: center;
        }
    }

    &:hover {
        transform: scale(1.01);
        transition: transform 0.05s linear;
        box-shadow: 0px 0px 10px 2px rgba(#000000, 0.1);
    }
}

.itemCount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;

    &__minus,
    &__plus {
        padding: 5px;
    }

    &__counter {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    & span {
        text-align: center;
        user-select: none;
        margin: auto;
        padding: 5px;
    }

    &__cartButton {
        width: 100px;
    }

    & .button {
        &:hover {
            color: $primary-light;
        }
    }
}

.button {
    cursor: pointer;
    user-select: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    box-shadow: 2px 2px 2px 1000px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 3px;
    border: 3px solid $primary;
    &__header,
    &__footer {
        padding: 10px;
    }

    &__header {
        border-bottom: $primary-dark;
    }
}

.loader {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 12px;
    margin: auto;
    flex-grow: 1;
    &__spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: $accenture;
        margin: auto;

        animation: spin 1s linear infinite;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.categories {
    max-width: 940px;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-align: center;
        color: $secondary-text;
        margin-bottom: 16px;
    }
}

.categoriesList {
    margin: auto 0px 5px 0px;
    font-size: 1rem;
    font-weight: 600;

    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    &__item {
        margin-top: 8px;
        &__link {
            padding: 5px 8px;
            color: $secondary-text;
            background-color: $primary;
            cursor: pointer;
            height: 100%;
            width: 100%;

            &:hover {
                color: $primary-text;
                background-color: $primary-dark;
            }
        }
    }
}

.itemDetail {
    width: 100%;
    margin: 10px auto;
    color: $secondary-text;
    &__title {
        font-size: 2rem;
        color: $secondary-text;
    }
    & main,
    & header,
    & footer {
        display: flex;
        flex-flow: column;
        gap: 16px;
        max-width: 940px;
        min-width: 500px;
        margin: 10px auto;
    }
    &__main {
        display: flex;
        background-color: $primary-light;
        // border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 2px rgba(#000000, 0.3);

        &__description {
            font-size: 1.3rem;
            margin: 0px 5px;
            padding: 5px;
            display: flex;
            flex-flow: column;
            gap: 16px;

            &__categoriesList {
                margin-top: auto;
            }
        }
    }

    &__footer {
        background-color: $primary-light;
        box-shadow: 0px 0px 10px 2px rgba(#000000, 0.3);
        border-radius: 5px;
        padding: 0px 10px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        &__buySection {
            display: flex;
            gap: 15px;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 30px;
            background-color: $primary;
            padding: 10px;
            box-shadow: 0px 0px 10px 2px rgba(#000000, 0.3);
            border-radius: 5px;
        }

        &__title {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: $mediaQuery-phone) {
        & main,
        & header,
        & footer {
            display: flex;
            flex-flow: column;
            gap: 16px;
            max-width: unset;
            min-width: unset;
            margin: 10px auto;
        }

        &__main {
            flex-flow: column;

            &__cover {
                & img {
                    width: 100%;
                }
            }
        }

        &__footer {
            flex-flow: column;
            padding-top: 10px;
            &__buySection {
                display: flex;
                flex-flow: column;
                gap: 3rem;
                justify-content: center;
                align-items: center;
                position: unset;
                background-color: unset;
                padding: 10px;
                margin-top: 30px;
                margin-bottom: 10px;
                box-shadow: unset;
                border-radius: 0;
            }
        }
    }
}

.addCart {
    &__btn {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: auto;
        font-size: 1.2rem;
        background-color: $accenture;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 10px 2px rgba(#000000, 0.3);
        cursor: pointer;
        &:hover {
            background-color: $accenture-light;
        }
    }
}

.searchBar {
    &__wrapper {
        display: flex;
        gap: 0px;
        background-color: $primary-dark;

        & input[type="text"] {
            flex: 1 1;
        }
    }

    &__button,
    &__input {
        margin: 0px;
        padding: 0px;
        border: 0px;
        background-color: $primary-dark;
        color: $primary-text;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        span {
            text-align: center;
            line-height: 40px;
            font-size: 1.5rem;
        }
    }

    &__input {
        margin: 0px;
        padding: 5px;
        border: 0px;
        background-color: $primary-dark;
        color: $primary-text;
        outline: none;
        background: none;
        font-size: 1.1rem;
    }
}

.customBtn {
    margin: 0px;
    padding: 5px;
    border: 0px;
    background-color: $accenture;
    color: $primary-text;
    outline: none;
    font-size: 1.1rem;

    &:hover {
        background-color: $accenture-light;
    }
}
